# Игнорировать файлы конфигурации и секретов
.env
*.env

# Игнорировать метаданные и пользовательские данные
/data/
*.json

# Игнорировать временные и скачанные PDF-файлы
/articles/
*.pdf

# Игнорировать директорию ChromaDB
/chroma_storage/

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*.so

# Кэш Jupyter
.ipynb_checkpoints/

# Виртуальное окружение
.venv/
env/
venv/

# IDE/Editor специфические файлы
.vscode/
.idea/
*.iml
